<section class="bg-blue-950 py-5">
  <div class="py-10 px-10 ">
    <div class="flex justify-center items-center flex-col">
      <h3 class="text-white text-4xl pb-3">Sign Up for NewsLetters</h3>
      <span class="text-gray-100 mt-2">get emails update for our latest shop and <span class="text-yellow-500"> special offers </span> </span>
      <button class="p-4 bg-green-400 rounded-xl mt-3 hover:bg-green-700 hover:scale-95 transition-all duration-500"> Sign Up</button>

    </div>
  </div>
</section>
<section class=" bg-gray-100 pt-4" >
  <div class="py-10 px-20 ">
    <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-2">
      <div>
        <div>
          <img src="./assets/logo.png" alt="">
        </div>

        <ul class="list-none flex gap-2 flex-col py-2 text-xl">
          <li class="cursor-pointer "><span class="font-bold">Address:</span> Lorem ipsum dolor sit amet </li>
          <li class="cursor-pointer"><span class="font-bold">phone:</span> +0123456789</li>
          <li class="cursor-pointer"><span class="font-bold">hourse:</span> 00:00:00 to 00:00:00</li>
        </ul>
        <ul class="list-none flex gap-2 py-2">
          <li class="cursor-pointer"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li class="cursor-pointer"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li class="cursor-pointer"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>

        </ul>
      </div>
      <div>
        <h3 class="font-bold text-2xl">About</h3>
        <ul class="list-none flex gap-2 flex-col py-3">
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-2xl">My Account</h3>
        <ul class="list-none flex gap-2 flex-col py-3">
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
